<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-card-title>Entrez vos indentifants</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input type="text"  placeholder="Prénom" [(ngModel)]="prenom" name="prenom" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="password"  placeholder="Mot de passe" [(ngModel)]="mdp" name="mdp" required></ion-input>
      </ion-item>
      
      <ion-button [disabled]="mdp.length < 3 || prenom.length < 3" (click)="loginUser()">
        Connexion
      </ion-button>


    </ion-card-content>


  </ion-card>



</ion-content>
