<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>
      Bonjour à tous
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- TP CAMERA -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Prenez et affichez une photo</ion-card-subtitle>
      <ion-card-title>Tp caméra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button (click)="openCam()" color="primary">Prendre une photo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="image">
    <img src="{{image}}" />
    <ion-card-header>
      <ion-card-subtitle>Avec Ionic Native</ion-card-subtitle>
      <ion-card-title>Votre Photo</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- FIN TP CAMERA -->

  <!-- TP COORDONNEES -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Afficher vos coordonnées</ion-card-subtitle>
      <ion-card-title>Tp géolocalisation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="geoLoc()" color="primary">Afficher la position</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="latitude.length !== 0 && longitude.length !==0">
    <ion-card-header>
      <ion-card-subtitle>Avec Ionic Native</ion-card-subtitle>
      <ion-card-title>Vos coordonnées</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
          </tr>
        </thead>
        <tbody *ngFor="let lo of longitude">
          <tr *ngFor="let la of latitude">
            <td>{{lo}}</td>
            <td>{{la}}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  <!-- FIN TP COORDONNEES -->

  <!-- TP NOTIFICATION -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Afficher une notification</ion-card-subtitle>
      <ion-card-title>Tp notification</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="regNotification(3000)" color="primary">3 Secondes</ion-button>
      <ion-button (click)="regNotification(10000)" color="primary">10 Secondes</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- FIN TP NOTIFICATION -->

  <!-- TP CAMERA PREVIEW -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Afficher une preview caméra</ion-card-subtitle>
      <ion-card-title>Tp preview camera</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button [routerLink]="['/camera-preview']" routerLinkActive="router-link-active" color="primary">Preview</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- FIN TP CAMERA PREVIEW -->


  <!-- DECONNEXION -->
  <ion-card class="card-sign-out">
    <ion-button (click)="signOut()" color="danger">Déconnexion</ion-button>
  </ion-card>
  

</ion-content>

