<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>
      Bonjour à tous
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Prenez et affichez une photo</ion-card-subtitle>
      <ion-card-title>Tp caméra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button (click)="openCam()" color="primary">Prendre une photo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="image">
    <img src="{{image}}" />
    <ion-card-header>
      <ion-card-subtitle>Avec Ionic Native</ion-card-subtitle>
      <ion-card-title>Votre Photo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card-sign-out">
    <ion-button (click)="signOut()" color="danger">Déconnexion</ion-button>
  </ion-card>

  

</ion-content>

